<a href="https://colab.research.google.com/github/ARUNRAJDAARA/ARUNRAJDAARA/blob/main/ATM_DATA_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/1471093-atm_bank_dataset.csv")

In [ ]:
df.head()

,id,atm_name,weekday,festival_religion,working_day,holiday_sequence,trans_date_set,trans_month,trans_year,prevweek_mean,total_amount_withdrawn
0,11,Mount Road ATM,MONDAY,NH,W,WWW,1,1,2011,648600,897100
1,16,Mount Road ATM,TUESDAY,NH,W,WWW,1,1,2011,648600,826000
2,21,Mount Road ATM,WEDNESDAY,NH,W,WWW,1,1,2011,648600,754400
3,26,Mount Road ATM,THURSDAY,NH,W,WWW,2,1,2011,648600,834200
4,31,Mount Road ATM,FRIDAY,NH,W,WWW,2,1,2011,648600,575300

In [ ]:
df.dtypes

id                         int64
atm_name                  object
weekday                   object
festival_religion         object
working_day               object
holiday_sequence          object
trans_date_set             int64
trans_month                int64
trans_year                 int64
prevweek_mean              int64
total_amount_withdrawn     int64
dtype: object

In [ ]:
df["festival_religion"].unique()

array(['NH', 'H', 'N', 'M', 'C'], dtype=object)

In [ ]:
df["atm_name"].unique()

array(['Mount Road ATM'], dtype=object)

In [ ]:
df["atm_name"].value_counts()

atm_name
Mount Road ATM    2244
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

id                        0
atm_name                  0
weekday                   0
festival_religion         0
working_day               0
holiday_sequence          0
trans_date_set            0
trans_month               0
trans_year                0
prevweek_mean             0
total_amount_withdrawn    0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
cols_obj = df.select_dtypes(include="object").columns

In [ ]:
df.dtypes

id                         int64
atm_name                  object
weekday                   object
festival_religion         object
working_day               object
holiday_sequence          object
trans_date_set             int64
trans_month                int64
trans_year                 int64
prevweek_mean              int64
total_amount_withdrawn     int64
dtype: object

In [ ]:
df_cols_object= df.select_dtypes(include=['object'])

In [ ]:
df_cols_object

            atm_name    weekday festival_religion working_day holiday_sequence
0     Mount Road ATM     MONDAY                NH           W              WWW
1     Mount Road ATM    TUESDAY                NH           W              WWW
2     Mount Road ATM  WEDNESDAY                NH           W              WWW
3     Mount Road ATM   THURSDAY                NH           W              WWW
4     Mount Road ATM     FRIDAY                NH           W              WWW
...              ...        ...               ...         ...              ...
2239  Mount Road ATM     MONDAY                NH           W              HWW
2240  Mount Road ATM    TUESDAY                NH           W              WWW
2241  Mount Road ATM  WEDNESDAY                NH           W              WWW
2242  Mount Road ATM   THURSDAY                NH           W              WWH
2243  Mount Road ATM     FRIDAY                 H           H              WHH

[2244 rows x 5 columns]

In [ ]:
df_cols_int= df.select_dtypes(include=['int64'])

In [ ]:
df_cols_int

,id,trans_date_set,trans_month,trans_year,prevweek_mean,total_amount_withdrawn
0,11,1,1,2011,648600,897100
1,16,1,1,2011,648600,826000
2,21,1,1,2011,648600,754400
3,26,2,1,2011,648600,834200
4,31,2,1,2011,648600,575300
...,...,...,...,...,...,...
2239,11565,5,9,2017,276058,447400
2240,11570,6,9,2017,276058,153800
2241,11575,6,9,2017,276058,167100
2242,11580,6,9,2017,276058,317400
2243,11585,6,9,2017,276058,305100

In [ ]:
df.shape

(2244, 11)

In [ ]:
df_cols_int.shape

(2244, 6)

In [ ]:
df_cols_object.shape

(2244, 5)